<div class="home__top-hero">
	<div class="home__top-hero-bg">
		<div class="home__top-hero-copy">
			<span><h1>Welcome to Family Insurance</h1></span>
			<span>Lorem ipsum dolor sit amet. Je suise une anana.</span>
		</div>
	</div>
</div>