/* NOTE THIS FILE IS NOT BEING PULLED INTO THEME STYLING - USAGE IS BASED ON MIRRORING WHAT IS IN THE WYSIWIG CHILD THEM CSS ENTRY BLOCK */
/* THIS FILE IS FOR DEV EASE ONLY - COPY CONTENTS TO THEME WP-ADMIN > ENFOLD > GENERAL STYLING > QUICK CSS */


  	/* IE8 Warning */

  	#ie8-warning {
		position: fixed;
		display:none;
		z-index: 2000;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		background-color: rgba(0, 0, 0, 0.5);
		overflow-x: hidden;
  	}
  	#vendor-ie-8 {
		position: fixed;
		display:none;
		z-index: 1500;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		background-color: rgba(0, 0, 0, 0.5);
		overflow-x: hidden;

       background:transparent;
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); 
       zoom: 1;
  	}

  	.ie8-ctr {
		position: absolute;
		display: block;
		width: 60%;
		left: 50%;
		top: 40%;
  	}

  	.ie8-cntnt {
	    position: relative;
	    display: block;
	    left: -50%;
	    top: -15%;
	    text-align: center;
	    padding: 15px 15px 5px 15px;
	    background-color: white;
  	}

  	.ie8-close {
	    position: absolute;
	    top: -18%;
	    z-index: 11;
	    height: 35px;
	    width: 100%;
	    left: 0;
	    padding: 0.5em 2em;
	    background: #EAB301;
	    text-align: left;
	    border-style: solid;
	    border-width: 1px 1px 0 1px;
	    border-color: black !important;
  	}

  	.ie8-btns {
		position: absolute;
		display: block;
		top: -30px;
		width: 100%;
		left: 0px;
  	}

  	.ie8-closeA {
  		color: white;
  	}

  	.ie8-closeBTN {
	    position: relative;
	    display: inline-block;
	    float: right;
	    padding: 0 0.5em;
	    text-decoration: none;
	    background-color: white;
	    border-radius: 3px;
	}

  	.togglecontainer .single_toggle {
    	border-color: #aaaaaa;
  	}

  	.full-size .content {
  		border-width:0px !important;
  	}

	.timeInput {
		width: 150px;
	}

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

	/* css conflict with Google Recaptcha classes fix */
	.image-overlay-inside {
		visibility: hidden !important;
	}

  	/* header logo, menu & footer mobile hidden div */

  	#header_main .logo {
  		padding: 20px 0 0 0;
  	}

  	.av_section_1 .container {
  		border-style: none;
  		border-bottom-color: white;
  		border-width: 0px !important;
  	}

  	.main-color {
		border-bottom-color: white !important;
  		border-color: white !important;
  	}

  	#main {
  		border-color: white !important;
  	}

  	#top #menu-item-search:hover>a{
		background: transparent;
		color: inherit;
		font-size:13px !important;
	}

	#top .avia-font-entypo-fontello, body .avia-font-entypo-fontello, html body [data-av_iconfont='entypo-fontello']:before {
	    font-family: 'entypo-fontello';
	    font-size: 17px !important;
	}

  	.footer__mobile-hidden {
  		display:none;
  	}

  	.footer__mobile-cw {
  		text-align: center;
  	}

  	.footer #socket .copyright {
  		float: right;
  	}

	/* home  page */

	.home__TOPhero-container {
	    position: absolute;
	    display: block;
	    min-height: 100%;
	    width: 100%;
	    left: 0;
	    top: 0;
	}

	.home__TOPhero {
	    position: relative;
	    display: block;
	}
	.home__TOPhero-inner {
	    position: absolute;
	    display: inline-block;
	    top: 50%;
	    left: 50%;
	    width: 100%;
	    height: 50%;
	}
	.home__TOPtitle-row {
	    position: absolute;
	    display: block;
	    width: 100%;
	    left: -50%;
	    top: -25%;
	}

	

	.home__topBar-gPin {
	    position: relative;
	    display: inline-block;
	    color: white;
	    float: right;
	    right: 5.5em;
	    font-size: 1.2em;
	    top: 4px;
	}

	.home__hero-container {
		position:relative;
		display:block;
		width:120%;
		left:-10%;
	}

	.home__hero {
	    position: relative;
	    display: inline-block;
	    min-width: 100%;
	    background-color: #253442;
	    padding: 3em;
	    color: white;
	    text-align: center;	
	}

	.home__hero-inner {
	    position: relative;
	    display: inline-block;
	}

	.home__hero-gPin {
	    position: relative;
	    display: inline-block;
	    background-color: #253442;
	    color: white;
	    text-align: center;
	    font-size: 1.3rem;
	    line-height: 2em;
	    height:1.3em;
	}

	.home__hero .av_font_icon {
	    position: absolute;
	    color: #ffffff;
	    border-color: #ffffff;
	    font-size: 1.5em;
	    margin: 0;
	    top: -0.2em;	
	}

	.home__hero-title {
		position: relative;
		display:inline-block;
		font-size:2em;
		min-width:10em;
	}

	.home__hero-blurb {
	    text-align: center;
	    margin: 1em 0 0 0;	
	}

	.home__hero-button {
	    position: relative;
	    display: inline-block;
	    min-width: 100%;
	    text-align: center;
	    margin: 1em 0 0 0;
	}

	.home__career-rightRow1 {
		position:relative;
		display:inline-block;
		float:left;
		margin: 0 1em 0 0;
	}

	.home__career-rightRow2 {
		position:relative;
		display: inline-block;
		width:70%;
	}

	/* home coverage page */

	 .homecover__highlights-title {
	 	position:relative;
	 	background-color:orange;
	 	font-weight:bold;
	 	color:white;
	 }

	 .homecover__highlights-list {
	 	width: 120%;
	 	margin-left:-10%;
	 }

	 .homecover__highlights-list p {
	    position: relative;
	    padding: 1em 0;
	    border: solid #ccc;
	    border-width: 0 1px 1px 1px;
	    margin: 0;
	 }

	.home-coverage__title {
	    position: relative;
	    display: block;
	    margin: 0.7em 0 0.5em 0;
	    font-size: 1.5em;
	}

	.home-coverage__blurb {
	    position: relative;
	    display: block;
	    width: 60%;
	    left: 20%;
	    margin-bottom: 1.3em;
	    font-size:1em;
	}

	/* Find A Broker */

	.home-coverage__footer-hero {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    min-height: 8rem;
	    background-color: #0c153c;
	    text-align: center;
	    margin-top:1em;
	    color:white;
		padding: 1em 0;
	}

	.home-coverage__footer-container {
	    position: relative;
	    display: inline-block;
	    width: 120%;
	    left: -10%;
	}

	.fab__brokerFinder {
		position:relative;
		display:block;
		width:100%;
		margin:auto;
	}

	.avia-caption-content  {
	    max-width: 54%;
	    position: relative;
	    display: block;
	    margin: auto;
	}

	/* Claims Page */

	.claims__logo-container {
		position:relative;
		display:block;
		width: 100%;
		text-align: center;
	}

	.claims__logo-l {
		position:relative;
		display: inline-block;
		margin:0;
	}

	.claims__logo-r {
		position:relative;
		display: inline-block;
		margin:0;
	}

	.claims__separator-h {
		position:relative;
		display:inline-block;
		margin: 0 1em 0 0;
		top:-10px;
	}

	.claims_wide-circle-divider {
		padding-top:2em !important;
	}

	/* Main menu bottom indicator bar */

	span .avia-menu-fx {
		width:80%;
		left:10%;
		background-image: white !important;
	}

	a .avia-menu-fx {
		background-color: white !important;
	}

	#avia-menu .sub-menu {
		border-top-color: rgba(253, 213, 0, 0) !important;
	}


.av-main-nav li:hover .avia-menu-fx {opacity: 0; visibility: visible;}

	/* Gravity Forms */

	.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
		font-size:2em !important;
		font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	}

	.gform__lastPage-container {
		position:relative;
		display:block;
	}

	.gform__lastPage-btn {
	    position: absolute;
	    display: none;
	    width: 50%;
	    top: -2em;
	    left: 25%;
	    border-radius: 5px;
	    padding: 8px 15px 5px;
	    background-color: #FDBB00;
	    text-align: center;
	    color: white;
	}

	.gform__ps-container {
		position: relative;
		display: block;
		width:100%;
		min-height:100px;
		background:grey;

	}

	.gform__ps-content {
		position: absolute;
		display:block;
		width:50%;
		left:25%;
		min-height:50px;
		background-color: blue;
	}

	.gf-fis-api__post-button {
		position:relative;
		display:inline-block;
		padding:2em;
		background-color:grey;
		color:white;
		cursor:pointer;
	}

	.fis-vldtn {
		position: relative;
		display: inline-block;
	}

	/* Forms Privacy Statement */

	.gf-priv__pre-terms {
		position: relative;
	}

	.gf-priv__button {}

	.gf-priv__overlay {
	    display: none;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    bottom: 0;
	    overflow: visible;
	    z-index: 10;
	}

	.gf-priv__bg {
		position:fixed;
		height:100%;
		width:100%;
		background-color: rgba(173, 173, 173, 0.73);
	}

	.gf-priv__container {
	    position: fixed;
	    display: block;
	    z-index: 11;
	    border-style: solid;
	    border-width: 2px;
	    height: 100%;
	    width: 100%;
	    left: 0;
	    top: 0;
	    background-color: rgba(125, 125, 125, 0.3);
	}

	.gf-priv__content {
	    position: relative;
	    display: block;
	    margin: 2em 0 0 0;
	    padding: 1em 2em;
	    height: 50%;
	    width: 50%;
	    top: 25%;
	    left: 25%;
	    right: 25%;
	    background: white;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    border-style: solid;
	    border-width: 1px 2px 1px 1px;
	    border-color: rgba(0, 0, 0, 0.5) !important;
	}

	.gf-priv__title {
		position:relative;
		display: inline-block;
		float: left;
	    font-size: 1.5em;
	}

	.gf-priv__top-bar {
	    position: absolute;
	    top: 24%;
	    z-index: 11;
	    height: 35px;
	    width: 50%;
	    left: 25%;
	    padding: 0.5em 2em;
	    background: #EAB301;
	    text-align: right;
	    border-style: solid;
	    border-width: 1px 1px 0 1px;
	    border-color: black !important;
	}

	.gf-priv__close-btn {
	    position: relative;
	    display: inline-block;
	    padding: 0 0.5em;
	    text-decoration: none;
	    background-color: white;
	    border-radius: 3px;
	}

	.gf-priv__close-btn a {
		text-decoration: none;
	}

	span .gwmpn-page-link {
		color: white;
	    text-decoration: none;
	}

	span .gwmpn-page-link:hover {
		color: white;
	    text-decoration: underline;
	}

	.form-pageEditBtn {
		position: relative;
		display: inline-block;
		float: right;
		background: #6F6F6F;
		padding: 0 5px;
		border-radius: 5px;
	}
}

/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

	/* hide full-width hero body copy */

	.avia_code_block_0 {
		top:35% !important;
	}

  	.avia-caption-content {
  		display:block;
  	}

	/* footer positioning of sub-menu ** this element/class is hard coded into footer.php ** */
  	.footer__mobile-hidden {
  		display:block;
  	}

  	.footer__mobile-cw {
  		text-align: center;
  	}

  	.footer__mobile-cw .copyright {
  		float: none !important;
  	}

  	.mini-header_left {
  		display: inline-block;
  	}

  	.mini-header_right {
  		display: inline-block;
  	}

	.home__topBar-gPin {
	    position: relative;
	    display: inline-block;
	    color: white;
	    font-size: 1.2em;
	}

	.mini-header_container {
		text-align: center;
	}

	.header_top-minibar nav {
		display: inline-block !important;
	}

  	.home__title-row {  		
	    display: inline-block;
	    min-width: 100%;
	    text-align: center;
  	}

	.home__hero-gPin {
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: inherit;
    padding-left: 0em;
    min-height: 0em;
    min-width: 0.7em;	
	}

	.av_secondary_right .sub_menu {
		padding-left: 0;
	}

	.home__hero-blurb {
		text-align: center;
		margin: 1em 0 0 0;
	}

	.home__hero-title {
		position: relative;
		display: inline-block;
		font-size:2em;
    	min-width: 9em;
	}

	.home__top-hero {
		position: relative;
		display: block;
		width:100%;
		padding:0;
		margin:0;
		text-align: center;
		background-image: url('/wp-content/uploads/2016/01/Screen-Shot-2016-02-01-at-5.20.07-PM.png');
	}

	.home__top-hero-bg {
		position: relative;
		display: block;
		width:80%;
		padding:0;
		margin:auto;
	}

	.home__top-hero-copy {
		position: relative;
		display: block;
		width:100%;
		padding:0;
		margin:0;
	}

	/* home coverage page */

	.home-coverage__footer-hero {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    min-height: 8rem;
	    background-color: #000013;
	    text-align: center;
	    margin-top:1em;
	    color:white;
	}

	.home-coverage__title {
	    position: relative;
	    display: block;
	    margin: 0.7em 0 0.5em 0;
	    font-size: 1.5em;
	}

	.home-coverage__blurb {
	    position: relative;
	    display: block;
	    width: 60%;
	    left: 20%;
	    margin-bottom: 0.5em;
	    font-size:1em;
	}

	.avia-caption-content  {
	    max-width: 100%;
	    position: relative;
	    display: block;
	    margin: auto;
	}

	/* Claims Page */

	.claims__logo-container {
		position:relative;
		display:block;
		width: 100%;
		text-align: center;
	}

	.claims__logo-l {
		position:relative;
		display: inline-block;
		margin:0;
	}

	.claims__logo-r {
		position:relative;
		display: inline-block;
		margin:0;
	}

	.claims__separator-h {
		position:relative;
		display:none;
		margin: 0 1em 0 0;
		top:-10px;
	}

	.claims_wide-circle-divider {
		padding-top:2em !important;
	}
}

/* single blog post styling */

.entry-content-header h1 {
text-align:left !important;
}